<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<section class="content-main">
  <div class="content-header">
      <div>
          <h2 class="content-title card-title">Coupon List </h2>
          <!-- <p>Lorem ipsum dolor sit amet.</p> -->
      </div>
      <div>
        <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
        <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
        <a href="/admin/addcoupon" class="btn btn-primary btn-sm rounded">Create new</a>
    </div>
  </div>
  <div class="card mb-4">
      <!-- <header class="card-header">
          <div class="row gx-3">
              <div class="col-lg-4 col-md-6 me-auto">
                  <input type="text" placeholder="Search..." class="form-control">
              </div>
              <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                      <option>Status</option>
                      <option>Active</option>
                      <option>Disabled</option>
                      <option>Show all</option>
                  </select>
              </div>
              <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                      <option>Show 20</option>
                      <option>Show 30</option>
                      <option>Show 40</option>
                  </select>
              </div>
          </div>
      </header> card-header end// -->
     
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                        <th scope="col">Coupon Name</th>
                        <th scope="col">Coupon Description</th>
                          <th scope="col" class="text-end"> Action </th>
                      </tr>
                  </thead>
                  <tbody>
                    <% coupon.forEach(function(item) { %>
                      <tr>
                        <td><%= item.code %></td>
              <td><%= item.description %></td>
              
              <td>
                <a href="/admin/coupon/edit?_id=<%= item._id %>">
                  <button class="btn btn-primary">Edit</button>
                </a>
              </td>
                      </tr>
                    <% }); %>
                  </tbody>
              </table>
          </div> <!-- table-responsive //end -->
      </div> <!-- card-body end// -->
  </div> <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <% for(let i=1; i<= totalPages;i++) { %>
              <% if(i===currentPage){ %>
                  <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/admin/couponlist?page=<%= i %>"><%= i %></a></li>
              <% } %>
          <% } %>
          </ul>
      </nav>
  </div>
</section>

<!-- <table class="table mt-20">
    <thead>
      <tr>
        
        <th scope="col">Coupon Name</th>
        <th scope="col">Coupon Description</th>
        
      </tr>
      <tbody>
        <% coupon.forEach(function(item) { %>
            <tr>
              <td><%= item.code %></td>
              <td><%= item.description %></td>
              
              <td>
                <a href="/admin/coupon/edit?_id=<%= item._id %>">
                  <button class="btn btn-primary">Edit</button>
                </a>
              </td>
            </tr>
          <% }); %>
          
      
    </tbody>
    </thead>
    <tbody>
       
          
      
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
 
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <a href="/admin/addcoupon"><button class="btn btn-outline-light btn-lg px-5 " style="background-color: orange;" type="submit">Add Coupon</button></a> -->
  
  
</body>
</html>