<%- include('header')%>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Order Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">Order-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">

				<div class="col-lg-6">


					<div class="s_Product_carousel">

						<div class="single-prd-item">
							<img style="width: 600px; height: 600px;" class="img-fluid"
								src="/upload/product/<%=data.images[0]%>" alt="">
						</div>
						<div class="single-prd-item">
							<img style="width: 600px; height: 600px;" class="img-fluid"
								src="/upload/product/<%=data.images[1]%>" alt="">
						</div>
						<div class="single-prd-item">
							<img style="width: 600px; height: 600px;" class="img-fluid"
								src="/upload/product/<%=data.images[2]%>" alt="">
						</div>
						<div class="single-prd-item">
							<img style="width: 600px; height: 600px;" class="img-fluid"
								src="/upload/product/<%=data.images[3]%>" alt="">
						</div>
					</div>

				</div>

				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>
							<%=data.name%>
						</h3>
						<h2>MRP:₹ <%=data.sale_price%>
						</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : <%=data.category%></a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						</ul>
						<p>
							<%=data.description%>
						</p>


						<div class="card_area d-flex align-items-center">


							<form action="/addCart?id=<%=data._id%>" method="post">
								<div class="row mb-4">
									<div class="col-md-4 col-6">
										<label class="mb-2">Size</label>
										<select name="size" class="form-select border border-secondary"
											style="height: 35px;">
											<option>Small</option>
											<option>Medium</option>
											<option>Large</option>
										</select>
									</div>
									<!-- col.// -->

									<div class="col-md-4 col-6 mb-3">
										<label class="mb-2 d-block">Quantity</label>
										<div class="input-group mb-3" style="width: 170px;">
											<button class="btn btn-white border border-secondary px-3" type="button"
												id="decrementButton" data-mdb-ripple-color="dark">
												-
											</button>
											<input name="quantity" type="text" id="quantityInput"
												class="form-control text-center border border-secondary" value="1"
												aria-label="Example text with button addon"
												aria-describedby="decrementButton" />
											<button class="btn btn-white border border-secondary px-3" type="button"
												id="incrementButton" data-mdb-ripple-color="dark">
												+
											</button>
										</div>
									</div>

								</div>
								<!-- <a href="#" class="btn btn-warning shadow-0"> Buy now </a> -->
								<!-- <button type="submit" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart</button> -->
								<!-- <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i -->
								<!-- class="me-1 fa fa-heart fa-lg"></i> Save </a> -->


								<button type="submit" class="addtocart">
									<div class="pretext">
										<i class="fas fa-cart-plus"></i> ADD TO CART
									</div>

									<div class="pretext done">
										<div class="posttext"><i class="fas fa-check"></i> ADDED</div>
									</div>

								</button>


							</form>



						</div>



					</div>
				</div>
			</div>
		</div>
	</div>




	<style>
		.fa-cart-plus {
			background: #0652DD;
		}

		.addtocart {
			display: block;
			padding: 0.5em 1em 0.5em 1em;
			border-radius: 100px;
			border: none;
			font-size: 2em;
			position: relative;
			background: #0652DD;
			cursor: pointer;
			height: 2em;
			width: 10em;
			overflow: hidden;
			transition: transform 0.1s;
			z-index: 1;
		}

		.addtocart:hover {
			transform: scale(1.1);
		}

		.pretext {
			color: #fff;
			background: #0652DD;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'Quicksand', sans-serif;
		}

		i {
			margin-right: 10px;
		}

		.done {
			background: #be2edd;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			transition: transform 0.3s ease;

			transform: translate(-110%) skew(-40deg);
		}

		.posttext {
			background: #be2edd;
		}

		.fa-check {
			background: #be2edd;
		}
	</style>


	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const decrementButton = document.getElementById('decrementButton');
			const incrementButton = document.getElementById('incrementButton');
			const quantityInput = document.getElementById('quantityInput');

			decrementButton.addEventListener('click', () => {
				const currentValue = parseInt(quantityInput.value);
				if (currentValue > 1) {
					quantityInput.value = currentValue - 1;
				}
			});

			incrementButton.addEventListener('click', () => {
				const currentValue = parseInt(quantityInput.value);
				quantityInput.value = currentValue + 1;
			});
		});
	</script>


	<script>


		const button = document.querySelector(".addtocart");
		const done = document.querySelector(".done");
		console.log(button);
		let added = false;
		button.addEventListener('click', () => {
			if (added) {
				done.style.transform = "translate(-110%) skew(-40deg)";
				added = false;
			}
			else {
				done.style.transform = "translate(0px)";
				added = true;
			}

		});
	</script>

	<br><br><br><br>
	<%- include('footer')%>