<%- include('header')%>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb ">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>wallet transactions</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Account<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">wallet</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	
	
    



	
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Transaction Id</th>
                        <th>Transaction Type</th>
                        <th>timestamp</th>
                        <th>Amount</th>
                       
				
                       
                    </tr>
                </thead>
                <tbody>
                    <%if(locals.data){%>
                    <%for(i=0;i<data.length;i++){%>
                    <tr>
						<td>
							<%=i+1%>
						</td>
						
                        <td><%=data[i]._id%></td>

                        <td><span class="badge rounded-pill alert-success"><%=data[i].paymentType%></span></td>
                        <td><%=data[i].timestamp.toLocaleString()%></td>
                        <td><%=data[i].amount%></td>
                        
                        
                    </tr>
                    <% }%>
                    <% }%>
					


        </tbody>
		
    </table>
	<% if (totalpages) { %>
		<div class="pagination">
		  <% if (currentpage > 1) { %>
			<button><a href="?page=<%= currentpage - 1 %>">Previous</a></button>
		  <% } %>
	  
		  <% for (let i = 1; i <= totalpages; i++) { %>
			<button><a href="?page=<%= i %>" class="<%= i === currentpage ? 'active' : '' %>"><%= i %></a></button>
		  <% } %>
	  
		  <% if (currentpage < totalpages) { %>
			<button class="btn"><a href="?page=<%= currentpage + 1 %>">Next</a></button>
		  <% } %>
		</div>
	  <% } %>

		
</div> <!-- table-responsive //end -->


</div> <!-- card-body end// -->
<style>


.table-spacing th,
    .table-spacing td {
        padding-left: 80px; /* Adjust the value as needed for the desired spacing */
    }
    .pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

.pagination button {
background-color: #f5f5f5;
border: 1px solid #ccc;
padding: 6px 12px;
margin: 0 3px;
cursor: pointer;

transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
background-color: #007bff;
color: #fff;
border-color: #007bff;
}

.pagination button:hover {
background-color: #ddd;
}
</style>




	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    function changeStatus(orderId){
        $.ajax({
            url:'/change-order-status',
            method:'post',
            data:{
                orderId,
				status:' Order cancelled'
            },
            success:(response)=>{
                location.reload()
            }
        })
    }
</script>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<%- include('footer')%>
	